img{
    width:100%;
}
.aboutsec{
    padding:10px 50px ;
    width: 100vw;
    align-items: center;
}
.right1{
align-items: center;
justify-content: center;
}
.buton{
    margin:7px;
    background-color: rgb(4, 48, 97);
    color:white;
    

}
button:hover{
 
    border:1px solid rgb(37, 7, 7);
    background-color: white;
    color:black;
   

}
.backtotop{
float: right;
}
.backtotop1{
    float: right;
  
    }

.jumpto{
    padding:10px;
}

@media(max-width:950px){

   h1{
        font-size: 25px;
       
        
    }
    h3{
        font-size:20px;
             
    }
    .buton{
        margin:2px;
        background-color: rgb(4, 48, 97);
        color:white;
        
    
    }
    button:hover{
     
        border:1px solid rgb(37, 7, 7);
        background-color: white;
        color:black;
       
    
    }
  
}
@media(max-width:858px){
  
    h1{
        font-size: 25px;
       
        
    }
    h3{
        font-size:20px;
             
    }
    .buton{
        margin:3px;
        background-color: rgb(4, 48, 97);
        color:white;
        
    
    }
    button:hover{
     
        border:1px solid rgb(37, 7, 7);
        background-color: white;
        color:black;
       
    
    }
  
}
