.backtotop{
    position: fixed;
    top:90%;
  left:96%;
  z-index: 1;
  


}

@media(max-width:1100px){
    .backtotop{
        left:93%;
    }
}
@media(max-width:750px){
    .backtotop{
        left:90%;
    }
}
@media(max-width:600px){
    .backtotop{
        left:85%;
       
    }
}