img{
    width:100%;
}
.aboutsec{
    padding:10px 50px;
    width: 100vw;
   
    align-items: center;
}
.right{
    padding:10px;
}
.skillHead{
    align-items: center;
    text-align: center;
}
.imgs{
    max-height:150px;
    max-width: 75px;
    padding:5px;

}

 

@media(max-width:950px){

   h1{
        font-size: 25px;
       
        
    }
    h3{
        font-size:20px;
             
    }
    
    
   
  
}
@media(max-width:858px){
  
    h1{
        font-size: 25px;
       
        
    }
   
}
@media(max-width:600px){
    .imgs{
        max-height:100px;
        max-width: 75px;
        padding:5px;
        display: flex;
     
    
    }   
    .ice{
     flex:1
    }
}
